/bin
/build
/gradle
/eclipse
/ui
/.gradle
/.settings
/README.txt
/MinecraftForge-License.txt
/MinecraftForge-Credits.txt
/LICENSE-fml.txt
/backupAndStuff.zip
/CREDITS-fml.txt
/forge-1.7.2-10.12.0.1029-changelog.txt
/forge-1.7.2-10.12.0.1029-src.zip
/forge1029checkpoint.zip
/forgeSrc-1.7.2-10.12.0.1029-sources.jar
/gradle-app.setting
/gradlew
/gradlew.bat
