/bin/
/build/
/eclipse/
/ui/
/gradle/
/.gradle/
/.settings/
/.classpath
/.gitignore
/.project
/CREDITS-fml.txt
/forge-1.7.2-10.12.1.1075-changelog.txt
/forge-1.7.2-10.12.1.1075-decomp.jar
/forge-1.7.2-10.12.1.1075-src.zip
/gradle-app.setting
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
